*{
    margin: 0;
    padding: 0;
    border: 0;
}


h1{
    background-color:rgba(3, 101, 229, 0.733);
    text-align: center;
    height: 100px;
    font-family: verdana;
    padding: 10px;

}

#cima{
    background-color: rgba(3, 101, 229, 0.733);
    text-align: center;
    height: 100px;
    font-family: verdana;
    font-size: 15px;
    padding: auto;
}
.material-icons{
   margin-top: -28px;
   margin-left: 46.5%;
   background-color: white;
   font-size: 5rem;
   color: rgba(28, 140, 245, 0.808);
   display: inline-block;
   vertical-align: middle;
   
}
table{

    margin: 0 auto;
    color: black;
    font-size: 20px;
    
}
.p{ width: 50%; 
border: 1px solid black;
margin-left: -200px;
margin-right: 900px;}

.p {padding: 10px; }
label {display: block;}

main{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 400px;
    padding: auto;
   

}

.buttonHolder{
    
    color: blue;
    margin-left: 200px;
    margin-top: 20px;
padding-left: 35px;
padding-right: 35px;
}
.botao{
    
    font-size: 25px;
    color: white;
    background-color: blue;
}